
.my-row{
border: 2px solid wheat;
}

.my-col{
    border: 2px solid wheat;
}

.my-container{
    border: 2px solid wheat;
background-color: lightblue;
}

.header{
    color: white;
    background-color: black;
    border: 10px solid wheat;
    text-align: center;

    
}


.mostViewed{
    background-color: lightblue;
    
}



.nav-pills{
    margin: 5px;
    background-color: lightgrey;
}


#navBarCity{
    border: 2px solid black;
    padding: 5px solid lightblue;
}


.forecastHeader{
    display: inline-block;
    
}


input[type="text"]{
    height: 50px;
    width: 940px;
    background: #e7e7e7;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 2px;
    padding: 10px 10px;

}

.searchButton{
    border: 5px solid lightblue;
    width: 200px;

}

/* ====== media ====== */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}